/* BODY AND FONTS STUFF */

body {
  background-color: #f3e6e8 80%;
  background-image: linear-gradient(100deg, #f3e6e8 0%, #d5d0e5 74%);
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin-top: 75px;
  letter-spacing: -2px;
  font-size: 35px;
  font-weight: 500;
}

.MuiTypography-root{
  margin: 0 auto !important;
  text-align: center !important;
  margin-top: 30px !important;
  margin-bottom: 20px !important;

}

.MuiTypography-body2{
  font-family: 'Courier New', Courier, monospace !important;
  text-align: center;
  font-size: 18px !important;
}

.MuiTypography-colorPrimary{
  color: #DC2800 !important;
}


/* HEADER STUFF */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.header img {
  width: 250px;
}

.header img:hover{
  cursor: pointer;
}





/* SELECT MENU STUFF */

.select-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.MuiNativeSelect-root{
  width: 200px !important;
  font-size: 18px !important;
}

.MuiButton-root {
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: 500 !important;
  width: 300px;
  height: 50px;
  margin: 4px !important;
  border-radius: 20px !important;
}


.random-pub-button, .random-pub-tour-button{
  background-color: #DC2800 !important;
  color: #ffffff !important;
}

.random-pub-button, .random-pub-tour-button:hover{
  background-color: #881900 !important;
  transform: scale(1.02);
}






/* LOADER STUFF */

.progress-loader{
  margin: 0 auto;
  width: 400px;
  margin-top: 50px;
}

.MuiLinearProgress-root{
  height: 25px !important;
  border-radius: 5px;
}

.MuiLinearProgress-barColorPrimary{
  background-color: #DC2800 !important;
  width: 100%;
}








/* MAP STUFF */

.map-container {
  height: 400px;
  position: relative;
  top: 0;
  bottom: 0;
  width: 75%;
  margin: 0 auto;
}

.pub-results{
  margin-top: 30px;
  text-align: center;
}

.pub-onlyone-name:hover, .pub-list-name:hover{
    cursor: pointer;
    color: rgb(114, 2, 2) !important;
}





/* FOOTER STUFF */ 

.footerTexts {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #080808;
  margin-top: -10px;
}

.footer-instructions {
  width: 50%;
}

.footer img{
  height: 100%;
  width: 100%;
  margin-top: -50px;
}

.MuiListSubheader-root{
  font-size: 16px !important;
}

.MuiListSubheader-colorPrimary{
  color: #ffffff !important;
  text-decoration: underline !important;
}

.MuiListItem-root{
  font-size: 10px !important;
  margin-top: -25px !important;
  padding: 0px !important;
}

.MuiListItemText-root{
  font-size: 14px !important;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

